<div class="pt-16">
    <div class="bg-white my-12 pb-6 w-full 
    justify-center items-center overflow-hidden md:max-w-lg rounded-lg shadow-2xl mx-auto">
    <br/>
    <div class="mx-auto w-9/12 mt-6">
      <h1 class="text-center font-bold text-base text-gray-800 sm:text-lg md:text-xl lg:text-2xl xl:text-2xl">Email confirmation has 
        been sent to your email! </h1> 
        <br/>
        <img src="assets/undraw_Mail_sent_re_0ofv.svg" class="w-64 mx-auto h-48">
        <br/>
        <!-- component -->
    <div> 
      <p class="text-center">Didn't receive link? enter email or refresh browser if confirmed</p>
     
      <!-- <form  [formGroup]="emailActivationGroup" (ngSubmit)="resendEmail()">
      
        <div class="m-4 flex">
          <input   [ngClass]="validator('email') ? 
          'w-full rounded-l-lg p-4 border-t mr-0 border-b border-l text-red-800 border-red-300 bg-white w-64 border-gray-300 ' : 'outline-none w-full rounded-l-lg p-4 border-t mr-0 border-b border-l text-gray-800 border-gray-300 bg-white w-64'" placeholder="your@mail.com" 
          formControlName="email" email required/>
        <button  type="submit" class="px-8 rounded-r-lg bg-secondary  text-white
        font-bold p-4 uppercase border-transparent border-t border-b border-r hover:bg-green-400">
        <span *ngIf="!service.isLoading">Send</span>
        <div class="spinner" *ngIf="service.isLoading">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
      </button>
        
        </div>
        
    </form>
     -->
    
    </div>
    
      </div>
    
      
    </div>
  </div>
  